.message-sender {
	width: auto;
	float: right;
	padding: 15px 100px 15px 25px;
	background-color: #3BA58A;
	font-size: 14px;
	border-radius: 30px 0px 30px 30px;
	margin-top: 15px;
	display: flex;
	position: relative;
}

.message-sender .time {
	width: auto;
	float: right;
	color: #EAEAEB;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px;
	font-size: 10px;
}

.message-receiver {
	width: auto;
	float: left;
	padding: 15px 100px 15px 25px;
	background-color: #F5F7FB;
	font-size: 14px;
	border-radius: 0px 30px 30px 30px;
	margin-top: 15px;
	position: relative;
}

.message-receiver .time {
	width: auto;
	float: right;
	color: #6A6A6A;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 15px;
	font-size: 10px;
}